<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dashboard</title>
    <style>
        .mainDiv{
            display: flex;
        }
        .movieDiv{
            margin: 10px;
            padding: 10px;
            border: black solid 2px;
            width: 200px;
        }
    </style>
</head>
<body>
    <a href="home">All Movies</a>
    <a href="upload">Upload Movies</a>
    <div id="mainDiv" class="mainDiv">
        

    </div>
</body>
<script>
    const displayMovie =async ()=>{

        
       let req =await fetch(`http://localhost:8090/movies`)

    
    let data = await req.json();
        let allMovies = Array()
        allMovies = data;
        console.log(allMovies);
        
        let mainDiv = document.getElementById("mainDiv")
        mainDiv.innerHTML="";
        allMovies.forEach((e) => {
            let movieDiv = document.createElement("div")
            movieDiv.className="movieDiv";
            movieDiv.innerHTML="";
            movieDiv.innerHTML=`
            <img src="${e.poster}" width="200px">
        <h3>Name : ${e.name}</h3>
        <h4>Duration : ${e.duration}hour</h4>
        <h4>Category : ${e.category}</h4>
        <h4>Released year : ${e.year}</h4>
        <h5>Uploaded By : ${e.uploaded}</h5>

            `

            mainDiv.appendChild(movieDiv);
        });
    
    }
    displayMovie()
</script>
</html>