<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <h1>Task Manager</h1>
    <h4>Add New Task</h4>
    <input type="number" name="" id="i" placeholder="Enter Task Id">
    <input type="text" name="" id="T" placeholder="Enter New Task"> 
    <input type="button" name="" id="AddT" value="Add Task" onclick="addTask()" style="display: inline;">
    <input type="button" name="" id="updT" value="Update Task" onclick="Update()" style="display: none;">
    <hr>
    <table id="table" border="1px" cellpadding="5px"></table>
</body>
<script src="/view/taskData.js"></script>
</html>