<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="http://localhost:8090/user/signup" method="post">
        <label for="name">Name : <input type="text" name="name" placeholder="Name"></label><br><br>
        <label for="number">Number: <input type="text" name="number" placeholder="Number"></label><br><br>
        <label for="email">Email : <input type="text" name="email" placeholder="Email"></label><br><br>
        <label for="password">Password : <input type="text" name="password" placeholder="Password"></label><br><br>
        <label for="role">Role : <select name="role" id="">
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
        </select></label><br><br>
        <input type="submit" value="Signup">
    </form>
    <br>
    <label for="">Already A User?  <a href="login.html">Login</a></label>
    
</body>
</html>