
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
</head>
<body>
    <form  id="userData">
       <h2>Login</h2>
        <input type="email" name="email" id="email" placeholder="Email" /><br><br>
        <input type="text" name="password" id="password" placeholder="Password" /><br><br>
        <input type="submit" name="" id="login" value="Login">
      </form>
      <p>New User?</p> <a href="signup.html"><input type="button" name="" value="Signup" id=""></a>
</body>
<script src="./login.js"></script>
</html>