
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h2>Signup</h2>
    <form  id="userData">
      <input type="text" name="username" id="username" placeholder="Username"/><br><br>
      <input type="email" name="email" id="email" placeholder="Email" /><br><br>
      <input type="text" name="password" id="password" placeholder="Password" /><br><br>
      <input type="submit" value="Signup" />
    </form>
    <p>Already A User?</p> <a href="login.html"><input type="button" name="" value="Login"></a>

  </body>
  <script src="./signup.js"></script>
</html>